  <nav class="navbar navbar-expand-lg bg-warning" data-bs-theme="light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">अपनी रसोई</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor03">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" [routerLink]="['']"  [routerLinkActiveOptions]="{exact: true}" routerLinkActive="activeLink" >Home
              <span class="visually-hidden">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['menu']" routerLinkActive="activeLink" >Menu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['about']" routerLinkActive="activeLink" >About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['contact']" routerLinkActive="activeLink" >Contact</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-sm-2" type="search" placeholder="Search">
          <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>