.navbar-brand{
    font-family: 'Roboto Condensed', sans-serif;
}
.activeLink{
    background-color: antiquewhite;
    border-radius: 9px;
    padding: 6px;
    color: rgb(0, 0, 0);
    font-weight: bold;
}
.btn{
    padding-right: 19px;
}